<h1>&#x1F44B;&#x1F3FB; Hi Matt!</h1>

<div class="container">
  <div class="blue-box">
    <strong>Ligue 1</strong> Uber Eats &#127467;&#127479;
  </div>

  <div class="fixture">
    <div class="fixture-teams">
      <p>FCG Bordeaux</p>
      <p>FC Metz</p>
    </div>
    <div class="fixture-status">
      <p>1</p>
      <p>0</p>
    </div>
  </div>

  <div class="fixture">
    <div class="fixture-teams">
      <p>Dijon FCO</p>
      <p>Paris Saint-Germain</p>
    </div>
    <div class="fixture-status">
      <div class="fixture-status-timer">
        <p>&#x23F2;</p>
        <p><mark>in 20 min</mark></p>
      </div>
    </div>
  </div>

  <div class="fixture">
    <div class="fixture-teams">
      <p>FC Nantes</p>
      <p>Stade de Reims</p>
    </div>
    <div class="fixture-status">
      <div class="fixture-status-timing">
        <p>at 15h32</p>
      </div>
    </div>
  </div>

</div>
